a {
    text-decoration: none !important;

}

.btn-body{
    height: 60px;
    width: 80px;
    border-radius: 20px;
    color:antiquewhite;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px auto;
    transition: all 0.3s ease-in-out;
}

.btn-body.active{
    background-color: rgb(0, 157, 182);
    color:antiquewhite;
    transform: scale(1.05);
}

.btn-body:hover{
    color:#FFF
}

.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 12px;
    opacity: 70%;
}

